node_modules/
dist/
build/
.vite/
.vercel/
.next/
*.log
.DS_Store
.idea/
.vscode/
.env
.env.*
!.env.example
*.webm
*.wav
*.mp3
*.mp4

# Binary archives
*.tar
*.tar.gz
*.tgz
*.zip

# Uploads folder
uploads/

.vercel

# Nooit committen
.env
.env.*
!.env.example

apps/web/.env
apps/web/.env.*
!apps/web/.env.example
apps/api/.env
apps/api/.env.*
!apps/api/.env.example
